[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "elgbd"]
	path = elgbd
	url = https://github.com/markean/elgbd
[submodule "retel"]
	path = retel
	url = https://github.com/markean/retel
