[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "melt"]
	path = melt
	url = https://github.com/markean/melt
	shallow = true
	registered = true
